*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  min-height: 100px;
  background: linear-gradient(to left top, rgb(104, 3, 95), rgb(47, 62, 192));
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navbar > a {
  text-decoration: none;
  color: white;
}

.navbar .store-name {
  font-size: 2rem;
  text-align: center;
}

.navbar .cart,
.navbar .logo {
  position: relative;
  width: 100px;
  margin: 0 30px;
  text-align: center;
}

.navbar .cart > img {
  width: 70px;
  height: 70px;
}

.navbar .cart .cartAmount {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 5px;
  background: red;
  font-size: 1rem;
  border-radius: 5px;
}

.shop {
  position: relative;
  top: 150px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  row-gap: 50px;
  justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .shop {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 900px) {
  .shop {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (max-width: 600px) {
  .shop {
    grid-template-columns: repeat(1, 250px);
  }
}
.shop .item {
  border: 2px solid black;
  border-radius: 8px;
  background: linear-gradient(
    to left top,
    rgb(240, 165, 255),
    rgb(82, 98, 240)
  );
  box-shadow: 5px 5px rgba(0, 0, 0, 0.274);
  transition: ease-in-out 300ms;
}

.shop .item:hover {
  transform: scale(1.1);
}

.shop .item > img {
  width: 250px;
  height: 300px;
  padding: 20px;
  margin-left: -2px;
}

.shop .item .details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.shop .item .price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop .item .price-quantity .quantity-button {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
}

.shop .item .price-quantity .quantity-button > img {
  cursor: pointer;
}

/* * use red Minus & green Plus */
.shop .item .price-quantity .quantity-button > img {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 8px;
}

.shop .item .price-quantity .quantity-button > img:first-child {
  background-color: rgba(255, 0, 0, 0.9);
}

.shop .item .price-quantity .quantity-button > img:last-child {
  background-color: rgba(0, 128, 0, 0.9);
}

/* !............................................................! */
/* ! Style for Cart */

.cart-shop {
  position: relative;
  top: 100px;
  margin: 0 50px 250px 50px;
}

.cart-shop-result {
  width: 400px;
  height: 110px;
  margin: auto;
  position: relative;
  text-align: center;
  top: 50px;
  background: linear-gradient(
    to left top,
    rgba(104, 3, 96, 0.6),
    rgba(47, 62, 192, 0.6)
  );
  border-radius: 20px;
}

.cart-shop-result > h2 {
  position: relative;
  top: 10px;
  font-size: 1.6rem;
}

.cart-shop-result > a {
  position: relative;
  top: 25px;
}

.cart-shop-result > a > button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.cart-shop-result .homeBtn {
  background: linear-gradient(to left top, rgba(104, 3, 96), rgba(47, 62, 192));
}

.cart-shop-result .checkoutLink {
  margin-right: 10px;
}

.cart-shop-result .checkout {
  background: linear-gradient(to left top, rgb(5, 53, 9), rgb(63, 192, 59));
}

.cart-shop-result .clearCartLink {
  margin-left: 10px;
}

.cart-shop-result .clearCart {
  background: linear-gradient(to left top, rgb(90, 11, 7), rgb(245, 49, 49));
}

.cart-shop-result .homeBtn:hover {
  background: linear-gradient(
    to left top,
    rgba(104, 3, 96, 0.8),
    rgba(47, 62, 192, 0.8)
  );
}

.cart-shop-result .checkout:hover {
  background: linear-gradient(
    to left top,
    rgb(5, 53, 9, 0.8),
    rgb(63, 192, 59, 0.8)
  );
}

.cart-shop-result .clearCart:hover {
  background: linear-gradient(
    to left top,
    rgb(90, 11, 7, 0.8),
    rgb(245, 49, 49, 0.8)
  );
}

.cart-shop .shopping-cart {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  row-gap: 50px;
  justify-content: space-evenly;
  position: relative;
  top: 100px;
}

@media (max-width: 1200px) {
  .cart-shop .shopping-cart {
    grid-template-columns: repeat(2, 320px);
  }
}

@media (max-width: 900px) {
  .cart-shop .shopping-cart {
    grid-template-columns: repeat(1, 320px);
  }
}

.cart-shop .cart-item {
  position: relative;
  display: flex;
  border: 2px solid black;
  border-radius: 8px;
  background: linear-gradient(
    to left top,
    rgb(240, 165, 255),
    rgb(82, 98, 240)
  );
  box-shadow: 5px 5px rgba(0, 0, 0, 0.274);
  transition: ease-in-out 300ms;
}

.cart-shop .cart-item:hover {
  transform: scale(1.05);
}

.cart-shop .cart-item .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgb(38, 2, 41);
  border: 2px solid rgb(38, 2, 41);
  border-bottom-left-radius: 8px;
  border-top-right-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  z-index: 1;
}

.cart-shop .cart-item .close-icon:hover {
  background: rgb(52, 12, 88);
  border-color: rgb(52, 12, 88);
}

.cart-shop .cart-item .close-icon > img {
  filter: invert(100%);
  width: 25px;
  height: 25px;
}

.cart-shop .cart-item > img {
  min-width: 125px;
  max-width: 125px;
  height: 150px;
  padding: 10px;
}

.cart-shop .cart-item .details {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
  gap: 10px;
}

.cart-shop .cart-item .price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.cart-shop .cart-item .price-quantity .quantity-button {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
}

.cart-shop .cart-item .price-quantity .quantity-button > img {
  cursor: pointer;
}

.cart-shop .cart-item .price-quantity .quantity-button > img {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 8px;
}

.cart-shop .cart-item .price-quantity .quantity-button > img:first-child {
  background-color: rgba(255, 0, 0, 0.9);
}

.cart-shop .cart-item .price-quantity .quantity-button > img:last-child {
  background-color: rgba(0, 128, 0, 0.9);
}
